.brand-section h2 {
    color: #333;
}

.brand-slider-container {
    overflow-x: auto; /* Enable horizontal scrolling */
    white-space: nowrap; /* Prevent line wrapping */
    padding-bottom: 10px; /* Add some space for scroll bar */
}

.brand-slider {
    display: inline-flex;
    gap: 20px;
}

.brand-item {
    min-width: 150px;
    height: 100px;
    background-color: #f9f9f9;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.brand-item img {
    max-height: 80%;
    object-fit: contain;
}
