.btn-admin {
    transform: translateY(21px);
}

.admin {
    height: 20px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    margin-left: 20px;
    color: #4F4F4F;
    background-color: #FFE4C4;
    padding: 5px 10px;
    border-radius: 8px;
    transition: background-color 0.3s ease /* Kết hợp hiệu ứng chuyển màu và phồng lên */
}

.admin:hover {
    background-color: #EED5B7;
}